body {
    margin: 0;
    height: 100%;
    width: 100%;
}

header {
    width: 100%;
}

nav {
    background: #1B7E6C;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.pesquisa {
    position: absolute;
    left: 8%;
}

.logo {
    padding-left: 20px;
}

.barra-pesquisa {
    background-color: #EAFDF7;
    border-radius: 20px;
    height: 30px;
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.barra-texto {
    background: none;
    border: none;
    outline: none;
    height: 30px;
    width: 250px;
    padding: 0;
    line-height: 30px;
}

.botão-pesquisa {
    display: flex;
    padding-right: 9px;
}

.botão-pesquisa:hover {
    cursor: pointer;
    opacity: 0.8;
}

ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    padding: 0;
}

li {
    padding: 0 7px;
}

.home {
    background: none;
    border: none;
    color: #fff;
}

.menu {
    background: none;
    border: none;
    color: #fff;
    font-family: Encode Sans;
    font-size: medium;
    font-weight: bolder;
}

li:hover {
    cursor: pointer;
    opacity: 0.8;
}

@media (max-width: 700px) {
    header {
        width: 50%;
    }
}