body {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: Encode Sans;
    background-color: #E3E3E3;
}

nav {
    margin-bottom: 40px;
}

/* CRIAÇÃO DE PUBLICAÇÃO*/

.criar-publicacao {
    padding: 10px 0 10px 0;
    margin: 0 auto;
    width: 734px;
    height: 50px;
    background-color: #fff;
    border-radius: 20px;
    align-items: center;
    box-shadow: 5px 5px 5px #868686;
}

.foto-perfil {
    width: 44px;
    float: left;
    margin-left: 10px;
}

.publicacao {
    padding: 15px 170px;
    text-align: left;
    float: left;
    margin-left: 10px;
    border-radius: 10px;
}

.midia {
    width: 44px;
    margin-left: 10px;
}

.vagas {
    width: 44px;
    margin-left: 10px;
}

/* FIM CRIAÇÃO DE PUBLICAÇÃO*/

/* CRIAÇÃO POST */

.post {
    width: 734px;
    margin: 0 auto;
    background-color: #fff;
    margin-top: 80px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #868686;
    height: 450px;
}

.foto-post {
    position: relative;
    left: 135px;
    margin: 0 auto;
}

.texto-post {
    padding: 0 20px 0;
}

.hora-post {
    margin-top: 0;
}

.compartilhar, .curtida {
    width: 34px;
    float: left;
    margin-left: 10px;
}

.comentario {
    float: left;
    margin-left: 10px;
    background-image: url(Icones/Comentar.png) no-repeat;
    background-size: 30px;
    width: 600px;
    height: 30px;
    border-radius: 15px;
}