/* CSS do componente da página Contato */
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@400;700&display=swap');

.corpo {
    color: #1B7E6C;
    font-family: 'Encode Sans', sans-serif;
}

.criarPublicacao {
    padding: 10px 0 10px 0;
    margin: 20px auto;
    width: 734px;
    height: 100px;
    background-color: #fff;
    border-radius: 20px;
    align-items: center;
    border: 1px solid #868686;
    box-shadow: 1px 1px 1px #868686;
}

.fotoPerfil {
    width: 44px;
    float: left;
    margin: 0 10px 0 10px;
}

.publicacao {
    background: transparent;
    padding: 15px 10px 15px 10px;
    text-align: left;
    float: left;
    margin-left: 10px;
    border-radius: 10px;
}

.botaoPostar {
    position: relative;
    top: 10px;
    right: 605px;
    padding: 10px 20px;
    border-radius: 10px;
}

.midia {
    width: 44px;
    margin-left: 10px;
}

.vagas {
    width: 44px;
    margin-left: 10px;
}


/* FIM CRIAÇÃO DE PUBLICAÇÃO*/


/* CRIAÇÃO POST */

.post {
    width: 734px;
    margin: 20px auto;
    background-color: #fff;
    margin-top: 80px;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #868686;
    box-shadow: 1px 1px 1px #868686;
    height: 460px;
    font-family: 'Encode Sans', sans-serif;
}

.fotoPost {
    position: relative;
    left: 135px;
}

.fotoPost2 {
    position: relative;
    left: 120px;
    width: 500px;
}

.textoPost {
    padding: 0 20px 0 20px;
}

.horaPost {
    margin-top: 0;
}

.compartilhar,
.curtida {
    width: 34px;
    float: left;
    margin-left: 10px;
}

.formComentario{
    padding: 20px;
}

.comentario {
    float: left;
    margin-left: 10px;
    width: 580px;
    height: 30px;
    border-radius: 15px;
}

.comentar {
    width: 31px;
    float: left;
    position: relative;
    left: 50px;
}